@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = Model.Heading;
}
@model GigHub.ViewModels.GigFormViewModel

<h2>@Model.Heading</h2>

@using (Html.BeginForm(Model.Action, "Gigs"))
{
    <p class="alert alert-info">All fields are <b>Required</b></p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Venue)
        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @id = "datepicker",
                                                @Value = @DateTime.Now.ToShortDateString() })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Genre)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("https://code.jquery.com/jquery-1.12.4.js")
    @Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")

    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}


